application/controllers/_notes/
application/views/includes/_notes/dwsync.xml
public/js/twitter/
public/css/_notes/
public/css/fonts/glyphicons/_notes/
public/css/fonts/icons/_notes/dwsync.xml
public/css/fonts/fonts_slider/_notes/
public/css/flickr/_notes/
public/css/flexslider/_notes/
public/css/scrollbar/_notes/
public/css/skins/_notes/
public/css/bootstrap/_notes/
public/css/carousel/_notes/dwsync.xml
public/img/slide/_notes/
public/img/patterns/_notes/
public/img/sponsors/_notes/dwsync.xml
public/img/slide/slides/_notes/
public/css/slide/_notes/
public/css/animations/_notes/
public/img/_notes/
public/img/bg-theme/_notes/
public/js/fancybox/_notes/
application/views/_notes/
public/js/_notes/
public/css/gridster/_notes/
public/js/gridster/_notes/
application/config/_notes/
application/models/_notes/dwsync.xml
application/views/teste/_notes/
